/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --page-bg-color: #fff1f7;
    --h-subtitle-color: #353430;
    --bg-color: #FF8DCB;
    --main-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --special-color: #353430;
    --title-color: #FFC2E6;
    --border-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --h-subtitle-color: #353430;
        --bg-color: #FF8DCB;
        --main-color: #353430;
        --bg-image: url(../images/cover-image-light.png);
        --accent-color: #353430;
        --special-color: #353430;
        --title-color: #FFC2E6;
    }

    .el__recording {
        display: none;
    }
}

.theme-light .page {
    .el__recording {
        display: none;
    }
}
